<ul class="soc-icons">
    <li class="soc-icon_dc"><a href="#"></a></li>
    <li class="soc-icon_yt"><a href="#"></a></li>
    <li class="soc-icon_tg"><a href="#"></a></li>
    <li class="soc-icon_fb"><a href="#"></a></li>
    <li class="soc-icon_tw"><a href="#"></a></li>
    <li class="soc-icon_d1"><a href="#"></a></li>
    <li class="soc-icon_d2"><a href="#"></a></li>
    <li class="soc-icon_guide"><a href="#">Guide</a></li>
</ul>
