@import "../_sprites/_main-menu";
.section-about {
    background:#131A2B;
    color:#FFF;
    position:relative;
    @include view-xs {
        padding-bottom:0;
    }
    &:after {
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        background:url(../img/scr-2/pl.png) left bottom no-repeat, url(../img/scr-2/pr.png) right top no-repeat;
        opacity:0;
    }
    &:before {
        content:"";
        position: absolute;
        width: 1717px;
        height: 728px;
        left: -140px;
        top: -348px;
        opacity:0;
        background: radial-gradient(50% 50% at 50% 50%, #053B91 0%, rgba(12, 55, 124, 0) 100%);
    }
    
    header {
        opacity: 0;
    }
    .about-item {
        position:relative;
        height:455px;
        @include view-lg {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            z-index:2;
            height:auto;
        }
        &__back {
            position:absolute;
            width:93px;
            height:134px;
            left:0;
            top:82px;
            background:url(../img/scr-2/m/b-b1.png) center center no-repeat;
            @include view-lg {
                top:50%;
                left:auto;
                margin-top:-20px;
                right:-100vw;
                width:174px;
                height:178px;
                background:url(../img/scr-2/b-b.png) center center no-repeat;
            }
        }
        &__content {
            position:absolute;
            width:312px;
            height:257px;
            left:50%;
            transform:translateX(-50%);
            top:27px;
            background:url(../img/scr-2/m/screenshot.png) center center no-repeat;
            z-index:2;
            @include view-lg {
                top:50%;
                left:auto;
                right:-100vw;
                width:811px;
                height:616px;
                background:url(../img/scr-2/screenshot.png) center center no-repeat;
                transform:translateY(-50%);
                z-index:1;
            }
        }
        &__front {
            position:absolute;
            top:0;
            right:10px;
            width:82px;
            height:84px;
            background:url(../img/scr-2/m/b-b2.png) center center no-repeat;
            @include view-lg {
                bottom:9vh;
                top:auto;
                right:-100vw;
                width:106px;
                height:108px;
                background:url(../img/scr-2/b-f.png) center center no-repeat;
            }
        }
        &__front2 {
            position:absolute;
            background:url(../img/scr-2/m/f-f.png) center center no-repeat;
            width:375px;
            height:245px;
            right: 0;
            bottom:0;
            z-index:3;
            @include view-lg {
                position:absolute;
                right:-100vw;
                width:754px;
                height:352px;
                background:url(../img/scr-2/f-f.png) center center no-repeat;
                z-index:1;
            }
            .about-counter {
                @include view-lg {
                    position:absolute;
                    left: 242px;
                    top: 139px;
                }
            }
        }
    }
    .about-counter {
        display:flex;
        align-items:center;
        margin:90px 0 0 120px;
        @include view-lg {
            margin:0;
        }
        &__counter {
            margin-right:18px;
            border:1px solid #FFF;
            border-radius:100%;
            width:93px;
            height:93px;
            font-size:44px;
            line-height:91px;
            text-align:center;
            @include view-lg {
                width:152px;
                height:152px;
                font-size:64px;
                line-height:152px;
            }
        }
        &__desc {
            width:130px;
            @include view-lg {
                width:180px;
            }
        }
    }
    .item-dots {
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        z-index:4;
        .item-dot {
            position:absolute;
            background:#FFF;
            border-radius:100%;
            width:19px;
            height:19px;
            opacity:0;
            &_1 {
                right: 112px;
                top: 349px;
            }
            &_2 {
                right: 53px;
                bottom: 425px;
                width: 14px;
                height: 14px;
            }
            &_3 {
                right: 644px;
                bottom: 40px;
                width: 19px;
                height: 19px;
                background: none;
                border: 1px solid #FFF;
            }
            &_4 {
                right: 838px;
                bottom: 287px;
            }
            &_5 {
                right: 683px;
                top: 141px;
                width: 11px;
                height: 11px;
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .about-item__back {
                animation: mfr-b-b 1s cubic-bezier(0.705, 0.400, 0.580, 1.265);
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .about-item__content {
                animation: mfr-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .about-item__front {
                animation: mfr-b-f 1s cubic-bezier(0.370, 1.650, 0.560, 0.505);
                animation-delay: .3s;
                animation-fill-mode: forwards;
            }
            .about-item__front2 {
                animation: mfr-f-f 1s cubic-bezier(0.275, 0.790, 0.380, 0.925);
                animation-delay: .7s;
                animation-fill-mode: forwards;
            }
            .text-about {
                animation: mfl-1 1s ease;
                animation-fill-mode: forwards;
            }
            .item-dots {
                .item-dot {
                    &_1 {
                        animation: md-1 .3s ease;
                        animation-delay: 1.7s;
                        animation-fill-mode: forwards;
                    }
                    &_2 {
                        animation: md-1 .3s ease;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;
                    }
                    &_3 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.3s;
                        animation-fill-mode: forwards;
                    }
                    &_4 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.6s;
                        animation-fill-mode: forwards;
                    }
                    &_5 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.9s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
   
}