
    @keyframes mi-1 {
        from {
            background-size:0 0
        }
        to {
            background-size: 100% 100%;
        }
    }
    @keyframes mvi-1 {
        from {
            transform:scale(0.01);
        }
        to {
            transform:scale(1);
        }
    }

    @keyframes mm-1 {
        from {
            clip-path: inset(50% 50% 50% 50%);
        }
        to {
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes md-1 {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    
    @keyframes mt-1 {
        from {
            clip-path: inset(0 100% 0 0);
        }
        to {
            clip-path: inset(0 0 0 0);
        }
    }
    
    @keyframes mfr-1 {
        from {
            right:-100vw;
            opacity:0;
        }
        50% {
            opacity:1;
        }
        to {
            right:1.9vw;
        }
    }
    
    @keyframes mfr-b-b {
        from {
            right:-100vw;
            opacity:0;
        }
        50% {
            opacity:1;
        }
        to {
            right:calc(5vw + 720px);
        }
    }
    @keyframes mfr-b-f {
        from {
            right:-100vw;
            opacity:0;
        }
        50% {
            opacity:1;
        }
        to {
            right:calc(5vw + 620px);
        }
    }
    @keyframes mfr-f-f {
        from {
            right:-100vw;
            opacity:0;
        }
        50% {
            opacity:1;
        }
        to {
            right:0;
        }
    }
    @keyframes mfl-1 {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: none;
        }
    }
    @keyframes mfr-sf1 {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: none;
        }
    }
    @keyframes mfb-sf1 {
        from {
            transform: translateY(100vh);
        }
        to {
            transform: none;
        }
    }
    @keyframes mfl-sf1 {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: none;
        }
    }
    @keyframes mft-sf1 {
        from {
            transform: translateY(-100vh);
        }
        to {
            transform: none;
        }
    }
    @keyframes mfr-sfm {
        from {
            transform: translateY(-55%) translateX(100vw);
        }
        to {
            transform: translateY(-55%) translateX(0);
        }
    }