@import "../_sprites/_main-menu";
.section-developed {
    @include view-xs {
        display:none;
    }
}
.section-developed {
    background:#131A2B;
    color:#FFF;
    position:relative;
    &:after {
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        background:url(../img/scr-8/pl.png) left bottom no-repeat, url(../img/scr-8/pr.png) right top no-repeat;
        opacity:0;
    }
    &:before {
        content:"";
        position: absolute;
        width: 1717px;
        height: 728px;
        left: -140px;
        top: -348px;
        opacity:0;
        background: radial-gradient(50% 50% at 50% 50%, #053B91 0%, rgba(12, 55, 124, 0) 100%);
    }
    
    header {
        opacity: 0;
    }
    
    
    .developed-back {
        position:absolute;
        bottom:0;
        right:0;
        top:0;
        &__b1 {
            position:absolute;
            width:724px;
            height:529px;
            bottom:0;
            right:0;
            transform: translateX(100vw);
            background:url(../img/scr-8/b1.png) no-repeat;
        }
    }
    .developed {
        width:810px;
        height:561px;
        background:url(../img/scr-8/developed.png);
        margin:5vh 0 0 9.7vw;
        overflow:auto;
        position:relative;
        z-index:2;
        transform: translateY(100%);
        &__text {
            margin:247px 0 0 609px;
            font-size:18px;
            line-height:22px;
        }
        &__back {
            margin: 9px 0 0 609px;
            font-size:12px;
            a {
                color:#FFF;
                display:inline-block;
                &:before {
                    content:"< ";
                    display:inline-block;
                    margin: 0 5px 0 0;
                }
            }
        }
        .download {
            position:absolute;
            left:0;
            bottom:24px;
            right:0;
            text-align:center;
            padding-left:212px;
            .downloads {
                margin:auto;
            }
        }
    }
    .item-dots {
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        left:0;
        z-index:1;
        .item-dot {
            position:absolute;
            background:#FFF;
            border-radius:100%;
            width:19px;
            height:19px;
            opacity:0;
            &_1 {
                right: 327px;
                top: 363px;
            }
            &_2 {
                right: 49.3vw;
                top: 48px;
                width: 11px;
                height: 11px;
            }
            &_3 {
                left: 39vw;
                bottom: 54px;
                background: none;
                border: 1px solid #FFF;
            }
            &_4 {
                left: 368px;
                bottom: 272px;
            }
            &_5 {
                left: 158px;
                bottom: 430px;
                width: 11px;
                height: 11px;
            }
            &_6 {
                right: 268px;
                top: 445px;
                width: 14px;
                height: 14px;
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .developed-back{
                &__b1 {
                    animation:mfr-sf1 1s ease;
                    animation-delay: .8s;
                    animation-fill-mode: forwards;
                }
            }
            .developed {
                animation: mfb-sf1 1s ease;
                animation-fill-mode: forwards;
            }
            .item-dots {
                .item-dot {
                    &_1 {
                        animation: md-1 .3s ease;
                        animation-delay: 1.7s;
                        animation-fill-mode: forwards;
                    }
                    &_2 {
                        animation: md-1 .3s ease;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;
                    }
                    &_3 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.3s;
                        animation-fill-mode: forwards;
                    }
                    &_4 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.6s;
                        animation-fill-mode: forwards;
                    }
                    &_5 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.9s;
                        animation-fill-mode: forwards;
                    }
                    &_6 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
   
}