.section-main {
    background:#131A2B;
    color:#FFF;
    position:relative;
    &:after {
        @include view-lg {
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:100%;
            background:url(../img/scr-1/pl.png) left bottom no-repeat, url(../img/scr-1/pr.png) right bottom no-repeat;
            opacity:0;
        }
    }
    &:before {
        @include view-lg {
            content:"";
            position: absolute;
            width: 1717px;
            height: 728px;
            left: -140px;
            top: -348px;
            opacity:0;
            background: radial-gradient(50% 50% at 50% 50%, #053B91 0%, rgba(12, 55, 124, 0) 100%);
        }
    }
    
    header {
        display:none;
        @include view-lg {
            display:flex;
            opacity: 0;
        }
    }
    .main-item {
        height:594px;
        margin:0 -28px;
        position:relative;
        @include view-lg {
            content:none;//!!
            position:absolute;
            width:809px;
            height:659px;
            margin:0;
            background:url(../img/scr-1/m-i-2.png) center center / 0 0 no-repeat;
            right:0;
            bottom:0;
        }
        &:before {
            content:"";
            position:absolute;
            display:block;
            background:url(../img/scr-1/m/m-i.png) left center no-repeat;
            left:50%;
            top:0;
            right:0;
            bottom:0;
            margin-left:-340px;
            @include view-lg {
                content:none;//!!
                left:0;
                margin:0;
                background:url(../img/scr-1/m-i.png) center center / 0 0 no-repeat;
            }
        }
        .main-item-video {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                left: -85px;
                top: -38px;
                transform:scale(0.01);
            }
        }
        .main-logo {
            display:none;
/*            position:absolute;
            width:170px;
            height:166px;
            left:50%;
            top:50%;
            margin:26px 0 0 -11px;
            background:url(../img/scr-1/logo.png) center center / 0 0 no-repeat;
            transform:translateX(-50%) translateY(-50%);
            z-index:4;*/
        }
        a {
            text-decoration:none;
            color:#FFF;
            }
        .main-menu {
            position:relative;
            font-size:12px;
            line-height:14px;
            z-index:3;
            width:375px;
            margin:auto;
            @include view-lg {
                width: 531px;
                height:471px;
                margin:82px 0 0 146px;
            }
            &:before {
                content:"";
                display:block;
                position:absolute;
                width: 313px;
                height:473px;
                background:url(../img/scr-1/m/menu-branches.png) no-repeat;
                top: 44px;
                left: calc(50% - 158px);
                @include view-lg {
                    width: 531px;
                    height:471px;
                    background:url(../img/scr-1/menu-branches.svg) no-repeat;
                    top:auto;
                    left:auto;
                }
            }
            &-item {
                position: absolute;
                display:flex;
                align-items:center;
                white-space:normal;
                width:150px;
                @include view-lg {
                    white-space:nowrap;
                    width:auto;
                }
                &:before {
                    content: "";
                    display:block;
                    flex-shrink:0;
                }
                &_about {
                    left: 30px;
                    top: 95px;
                    @include view-lg {
                        left: -82px;
                        top: 109px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($about);
                        margin-right:8px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($about);
                            margin-right:14px;
                        }
                    }
                }
                &_referral {
                    left: 153px;
                    top: 190px;
                    flex-direction:column;
                    width:70px;
                    text-align: center;
                    @include view-lg {
                        left: 104px;
                        top: -62px;
                        flex-direction: row;
                        width:auto;
                        text-align: left;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($referral);
                        margin-bottom:7px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($referral);
                            margin-bottom:0;
                            margin-right:33px;
                        }
                    }
                }
                &_network {
                    left: 164px;
                    top: 54px;
                    @include view-lg {
                        left: 317px;
                        top: 49px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($network);
                        margin-right:3px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($network);
                            margin-right:16px;
                        }
                    }
                }
                &_exchange {
                    left: 251px;
                    top: 118px;
                    @include view-lg {
                        left: 373px;
                        top: -89px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($exchange);
                        margin-right:9px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($exchange);
                            margin-right:14px;
                        }
                    }
                }
                &_testimonials {
                    right: 11px;
                    top: 415px;
                    flex-direction:row-reverse;
                    @include view-lg {
                        right:auto;
                        left: 563px;
                        top: 233px;
                        flex-direction:column;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($testimonials);
                        margin-left:10px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($testimonials);
                            margin-left:0;
                            margin-bottom:48px;
                        }
                    }
                }
                &_mirror {
                    left: 238px;
                    top: 222px;
                    width: 80px;
                    flex-direction: column;
                    text-align: center;
                    @include view-lg {
                        left: 447px;
                        top: 412px;
                        width:auto;
                        flex-direction: row;
                        text-align: left;
                        padding-top:16px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($mirror);
                        margin-bottom:6px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($mirror);
                            margin-bottom:auto;
                            margin-top:-16px;
                            margin-right:12px;
                        }
                    }
                }
                &_margin-trading {
                    left: 193px;
                    top: 473px;
                    @include view-lg {
                        left: 200px;
                        top: 432px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($margin-trading);
                        margin-right:12px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($margin-trading);
                        }
                    }
                }
                &_arbitration {
                    left: 34px;
                    top: 484px;
                    @include view-lg {
                        left: -82px;
                        top: 490px;
                        padding-top:16px;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($arbitration);
                        margin-right:11px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($arbitration);
                            margin-right:40px;
                            margin-top:-16px;
                        }
                    }
                }
                &_exchanger {
                    left: 72px;
                    top: 414px;
                    flex-direction:column;
                    width:100px;
                    text-align:center;
                    @include view-lg {
                        left: 41px;
                        top: 260px;
                        align-items:flex-start;
                        text-align:left;
                    }
                    &:before {
                        @import "../_sprites/_m-main-menu";
                        @include sprite($exchanger);
                        margin-bottom:6px;
                        @include view-lg {
                            @import "../_sprites/_main-menu";
                            @include sprite($exchanger);
                            margin-bottom:12px;
                        }
                    }
                }
            }
        }
        .main-menu-wrapper {
            @include view-lg {
                clip-path: inset(50% 50% 50% 50%);
                display:inline-block;
                margin: -15px 150px -100px -100px;
                padding: 15px 150px 100px 100px;
            }
        }
        .item-dots {
            opacity:0;
            .item-dot {
                position:absolute;
                background:#FFF;
                border-radius:100%;
                width:19px;
                height:19px;
                &_1 {
                    left: -49px;
                    top: 125px;
                }
                &_2 {
                    left: 757px;
                    top: 207px;
                }
                &_3 {
                    left: 446px;
                    top: 455px;
                }
                &_4 {
                    left: 650px;
                    top: 393px;
                    width: 14px;
                    height: 14px;
                }
                &_5 {
                    left: 409px;
                    top: 648px;
                    width: 11px;
                    height: 11px;
                }
                &_6 {
                    left: 88px;
                    top: 338px;
                    width: 11px;
                    height: 11px;
                }
                &_7 {
                    left: 283px;
                    top: 527px;
                    width: 19px;
                    height: 19px;
                    background:none;
                    border:1px solid #FFF;
                }
                &_8 {
                    left: 352px;
                    top: 90px;
                    width: 19px;
                    height: 19px;
                    background:none;
                    border:1px solid #FFF;
                }
            }
        }
    }

    .main-text {
        @include view-lg {
            width:370px;
            margin-top:12vh;
            clip-path: inset(0 100% 0 0);
        }
        .main-logo-wrapper {
            display:none;
            @include view-lg {
                margin:0 0 32px;
                display:block;
            }
        }
        h1 {
            font-size:64px;
            line-height:1.2;
            font-weight:100;
            margin:0 0 3px;
            @include view-lg{
                margin: 0 0 17px;
            }
        }
        h2 {
            font-size:20px;
            line-height:1.13;
            font-weight:300;
            margin:0 0 16px;
            @include view-lg{
                font-size:24px;
                line-height:1.2;
                margin: 0 0 31px 4px;
            }
        }
        .specs {
            list-style:none;
            > li {
                &:before {
                    float:left;
                    content:"";
                    display:block;
                    width:5px;
                    height:5px;
                    background:#FFF;
                    border-radius:100%;
                    margin:5px 10px 0 6px;
                }
                + li {
                    margin-top:6px;
                }
            }
       }
    }
    @include view-lg {
        &.ready {
            &:before, &:after, header {
                animation:md-1 1s ease;
                animation-delay: 3s;
                animation-fill-mode: forwards;
            }
            .main-item {
                animation:mi-1 1s ease;
                animation-delay: .8s;
                animation-fill-mode: forwards;
                &:before {
                    animation: mi-1 1.2s ease;
                    animation-fill-mode: forwards;
                }
                .main-logo {
                    animation: mi-1 .6s ease;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                }
                .main-menu-wrapper {
                    animation: mm-1 .5s;
                    animation-delay: 2.5s;
                    animation-fill-mode: forwards;
                }
                .item-dots {
                    animation: md-1 1.5s ease;
                    animation-delay: 1.8s;
                    animation-fill-mode: forwards;
                }
            }
            .main-text {
                animation: mt-1 .3s ease;
                animation-delay: 3s;
                animation-fill-mode: forwards;
            }
            .main-item-video {
                animation: mvi-1 1.2s ease;
                animation-fill-mode: forwards;
            }
        }
        
    }
}