@import "../_sprites/_ico";

.logo {
    display:flex;
    align-items:center;
    width:145px;
    overflow:hidden;
    position:relative;
    > * {
        position:absolute;
        left:150px;
    }
    &:before {
        flex-shrink: 0;
        width:40px;
        height:40px;
        display:block;
        content:"";
        background:url(../img/logo.svg);
        margin-right:29px;
    }
    &:after {
        flex-shrink: 0;
        width:76px;
        height:12px;
        content:"";
        background: url(../img/logo-name.svg);
        display:block;
        .light & {
            background: url(../img/dlogo-name.svg);
        }
    }
}

.download {
    display:flex;
    color: #FFF;
    padding:1px 0 0 4px;
    font-size:12px;
    align-items:center;
}
.downloads {
    margin:0 15px 0 0;
    display:flex;
    align-items:center;
    > * + * {
        margin-left:15px;
    }
    .download-ios {
        &:before {
            content:"";
            display:block;
            @include sprite($ios);
            .light & {
                @include sprite($dios);
            }
        }
    }
    .download-win {
        &:before {
            content:"";
            display:block;
            @include sprite($win);
            .light & {
                @include sprite($dwin);
            }
        }
    }
}
.btn {
    display:inline-block;
    border:none;
    background:#FFF;
    color:#0C0F38;
    font-weight:600;
    text-decoration:none;
    padding:7px 18px;
    text-transform:uppercase;
    border-radius:3px;
    transition:background .3s;
    cursor:pointer;
    &:hover {
        background:#66D6EB;
    }
    &_dark {
        background:#0C0F38;
        color:#FFF;
    }
}
.btn-download-ios {
    @extend .btn;
    &:before {
        content:"";
        display:inline-block;
        transform:scale(calc(15/23));
        margin:-4px 5px -6px 0;
        @include sprite($dios);
        .light & {
            @include sprite($ios);
        }
    }
}
.btn-download-win {
    @extend .btn;
    @extend .btn-download-ios;
    &:before {
        @include sprite($dwin);
        .light & {
            @include sprite($win);
        }
    }
}
.btn-wrapper {
    margin: 0 0 29px;
}

.text-about {
    @include view-lg {
        width:370px;
        margin-top:12vh;
        position:relative;
        transform: translateX(-100vw);
    }
    h2 {
        font-weight: 100;
        font-size:24px;
        line-height:1.2;
        text-transform:uppercase;
        margin: 0 0 16px;
    }
    h4 {
        font-weight: 100;
        font-size:12px;
        line-height:1.2;
        margin: 0 0 14px;
    }
    p {
        margin:0 0 7px;
    }
    &__text {
        margin: 0 0 40px;
    }
    .specs {
        list-style:none;
        margin: 0 0 23px;
        font-size:12px;
        line-height:14px;
        p {
            margin:0 0 5px;
        }
        > li {
            padding-left:20px;
            &:before {
                float:left;
                content:"";
                display:block;
                width:5px;
                height:5px;
                background:#FFF;
                border-radius:100%;
                margin:5px 15px 0 -20px;
            }
            + li {
                margin-top:16px;
            }
        }
    }
}
strong {
    font-weight:600;
}
.tns-outer {
    position:relative;
    .tns-controls {
        position:absolute;
        left:-30px;
        top:50%;
        right:-30px;
        transform:translateY(-50%);
        display:flex;
        justify-content:space-between;
        button {
            padding:0;
            background:none;
            border:2px solid #0C0F38;
            border-right-color:transparent;
            border-bottom-color:transparent;
            width:14px;
            height:14px;
            transform:rotate(-45deg);
            &[data-controls="next"] {
                transform:rotate(135deg);
            }
        }
    }
    .tns-nav {
        @include view-xs {
            display:none;
        }
        position:absolute;
        top:100%;
        margin-top:40px;
        text-align:center;
        left:0;
        right:0;
        button {
            width:10px;
            height:10px;
            border-radius:100%;
            background:#FFF;
            border:none;
            padding:0;
            + button {
                margin-left:30px;
            }
        }
        .tns-nav-active {
            background:#0C0F38;
        }
    }
}