@import "../_sprites/_main-menu";
.section-pricing {
    background:#131A2B;
    color:#FFF;
    position:relative;
    &:after {
        @include view-lg {
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:100%;
            background:url(../img/scr-5/pl.png) left bottom no-repeat, url(../img/scr-5/pr.png) right top no-repeat;
            opacity:0;
        }
    }
    &:before {
        @include view-lg {
            content:"";
            position: absolute;
            width: 1717px;
            height: 728px;
            left: -140px;
            top: -348px;
            opacity:0;
            background: radial-gradient(50% 50% at 50% 50%, #053B91 0%, rgba(12, 55, 124, 0) 100%);
        }
    }
    
    header {
        opacity: 0;
    }
    
    .pricing-wrapper {
        position:relative;
        z-index:2;
        @include view-lg {
            margin:2.5vh auto;
            opacity:0.01;
            max-width:1040px;
        }
        h2 {
            font-size:24px;
            line-height:1.2;
            font-weight:300;
            margin:0 0 20px;
            color:#FFF;
            text-align:center;
        }
        .tns-outer {
            margin:0 0 90px;
            @include view-lg {
                margin:0;
            }
        }
        .tns-item {
            padding:0 6px;
        }
    }
    
    .pricing {
        border:2px solid #FFF;
        font-size:12px;
        line-height:12px;
        margin:58px 0 30px;
        border-radius:5px;
        padding:0 10px;
        &:hover {
            border-color:#66D6EB;
            .pricing__cost:after {
                opacity:1;
            }
            .btn {
                background:#66D6EB;
            }
        }
        &__cost {
            display:flex;
            flex-direction: column;
            align-items:center;
            width:90px;
            height:87px;
            padding:10px 12px;
            text-align:center;
            color:#0C0F38;
            justify-content: center;
            font-weight:600;
            margin:-58px auto -10px;
            position:relative;
            z-index:2;
            &:before, &:after {
                content:"";
                position:absolute;
                display:block;
                top:0;
                right:0;
                bottom:0;
                left:0;
                background:url(../img/scr-5/pricing-cost.png) center center no-repeat;
                z-index:-1;
            }
            &:after {
                opacity:0;
                background:url(../img/scr-5/pricing-cost-hover.png) center center no-repeat;
                transition: opacity .3s;
            }
            small {
                font-size:8px;
                line-height:6px;
                font-weight:400;
            }
        }
        &__params {
            list-style:none;
            margin:0 0 19px;
            > li {
                padding: 0 0 0 21px;
                position:relative;
                &:before {
                    content:"";
                    position:absolute;
                    left:8px;
                    top:4px;
                    display:block;
                    width:5px;
                    height:5px;
                    background:#FFF;
                    border-radius:100%;
                }
                + li {
                    margin-top:14px;
                }
            }
        }
        &__buy {
            margin:21px 0 -15px;
            text-align:center;
            .btn {
                min-width:98px;
            }
        }
    }
    
    .pricing-back {
        display:none;
        @include view-lg {
            display:block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
        }
        &__b1 {
            position:absolute;
            width:600px;
            height:581px;
            bottom:0;
            right:0;
            transform: translateX(100vw);
            background:url(../img/scr-5/b1.png) no-repeat;
        }
        &__b2 {
            position:absolute;
            width:95px;
            height:95px;
            bottom: 47px;
            right: 341px;
            transform: translateY(100vh);
            background:url(../img/scr-5/b2.png) no-repeat;
        }
        &__b3 {
            position:absolute;
            width:332px;
            height:212px;
            bottom: 0;
            left: 20.8vw;
            transform: translateY(100vh);
            background:url(../img/scr-5/b3.png) no-repeat;
        }
        &__b4 {
            position:absolute;
            width:82px;
            height:82px;
            bottom: 12vh;
            left: 37vw;
            transform: translateY(100vh);
            background:url(../img/scr-5/b4.png) no-repeat;
        }
        &__b5 {
            position:absolute;
            width:108px;
            height:108px;
            bottom: 50%;
            margin-bottom:-43px;
            left:8.6vw;
            transform: translateX(-100vw);
            background:url(../img/scr-5/b5.png) no-repeat;
        }
    }
    .item-dots {
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        left:0;
        .item-dot {
            position:absolute;
            background:#FFF;
            border-radius:100%;
            width:19px;
            height:19px;
            opacity:0;
            &_1 {
                right: 162px;
                top: 339px;
            }
            &_2 {
                right: 682px;
                bottom: 206px;
                width: 11px;
                height: 11px;
            }
            &_3 {
                left: 628px;
                top: 200px;
                background: none;
                border: 1px solid #FFF;
            }
            &_4 {
                left: 517px;
                bottom: 329px;
            }
            &_5 {
                left: 292px;
                bottom: 348px;
                width: 11px;
                height: 11px;
            }
            &_6 {
                left: 122px;
                top: 210px;
            }
            &_7 {
                left: 85px;
                bottom: 384px;
                border: 1px solid #FFF;
                background: none;
            }
            &_8 {
                right: 476px;
                top: 186px;
                width: 14px;
                height: 14px;
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .pricing-wrapper {
                animation:md-1 1s ease;
                animation-delay: .8s;
                animation-fill-mode: forwards;
            }
            .pricing-back{
                &__b1 {
                    animation:mfr-sf1 .8s ease;
                    animation-delay: .8s;
                    animation-fill-mode: forwards;
                }
                &__b2 {
                    animation:mfb-sf1 .5s ease;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                }
                &__b3 {
                    animation:mfb-sf1 .5s ease;
                    animation-delay: 1.2s;
                    animation-fill-mode: forwards;
                }
                &__b4 {
                    animation:mfb-sf1 .5s ease;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                }
                &__b5 {
                    animation:mfl-sf1 .5s ease;
                    animation-delay: 1.8s;
                    animation-fill-mode: forwards;
                }
            }
            .item-dots {
                .item-dot {
                    &_1 {
                        animation: md-1 .3s ease;
                        animation-delay: 1.7s;
                        animation-fill-mode: forwards;
                    }
                    &_2 {
                        animation: md-1 .3s ease;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;
                    }
                    &_3 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.3s;
                        animation-fill-mode: forwards;
                    }
                    &_4 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.6s;
                        animation-fill-mode: forwards;
                    }
                    &_5 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.9s;
                        animation-fill-mode: forwards;
                    }
                    &_6 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.2s;
                        animation-fill-mode: forwards;
                    }
                    &_7 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.5s;
                        animation-fill-mode: forwards;
                    }
                    &_8 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.8s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
   
}