.section-referral {
    background:#B9B9B9;
    position:relative;
    &:after {
        @include view-lg {
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:100%;
            background:url(../img/scr-7/pl.png) left bottom no-repeat, url(../img/scr-7/pr.png) right top no-repeat;
            opacity:0;
        }
    }
    &:before {
        @include view-lg {
            content:"";
            position: absolute;
            width: 1717px;
            height: 728px;
            left: -140px;
            top: -348px;
            opacity:0;
            background: radial-gradient(50% 50% at 50% 50%, #E4E4E4 0%, rgba(12, 55, 124, 0) 100%);
        }
    }
    header {
        opacity: 0;
    }
    
    .referral-content {
        display:flex;
        flex-direction: column;
        @include view-lg {
            flex-direction: row;
            justify-content: space-between;
            position:relative;
            z-index:4;
        }
    }
    .referral-scheme {
        width:319px;
        height:486px;
        background: url(../img/scr-7/m/scheme.png);
        flex-shrink: 0;
        margin:auto;
        @include view-lg {
            margin:6vh 0 0 4.5vw;
            width:398px;
            height:606px;
            background: url(../img/scr-7/scheme.png);
            transform: translateY(200%);
            flex-shrink: 1;
        }
    }
    .referral-logo {
        flex-shrink:0;
        @include view-lg {
            margin:37vh 7.5vw 0 0;
            opacity:0;
            flex-shrink: 1;
        }
        &:after {
            content:"";
            display:block;
            @include view-lg {
                width:136px;
                height:135px;
                background: url(../img/scr-1/logo.png) center center / contain no-repeat;
            }
        }
    }
    
    .text-about {
        margin:0 0 20px;
        @include view-lg {
            margin:0;
            font-size:12px;
            line-height:15px;
        }
        h2 {
            margin-bottom:40px;
        }
        p {
            margin-bottom:15px;
        }
        .download {
            display:none;
            @include view-lg {
                margin:30px 0 0;
            }
        }
    }
    
    .referral-back {
        display:none;
        @include view-lg {
            display:block;
            position:absolute;
            bottom:0;
            right:0;
            top:0;
            z-index:1;
        }
        &__b1 {
            @include view-lg {
                position:absolute;
                width:832px;
                height:448px;
                bottom:0;
                right:0;
                transform: translateX(100vw);
                background:url(../img/scr-7/b1.png) no-repeat;
            }
        }
    }
    .item-dots {
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        left:0;
        z-index:1;
        .item-dot {
            position:absolute;
            background:#FFF;
            border-radius:100%;
            width:19px;
            height:19px;
            opacity:0;
            &_1 {
                right: 98px;
                bottom: 225px;
            }
            &_2 {
                right: 459px;
                bottom: 129px;
                width: 11px;
                height: 11px;
            }
            &_3 {
                right: 295px;
                top: 292px;
                background: none;
                border: 1px solid #FFF;
            }
            &_4 {
                right: 363px;
                bottom: 373px;
            }
            &_5 {
                left: 628px;
                bottom: 184px;
                width: 11px;
                height: 11px;
            }
            &_6 {
                right: 106px;
                top: 218px;
                width: 11px;
                height: 11px;
            }
            &_7 {
                right: 42.9vw;
                bottom: -11px;
                border: 1px solid #FFF;
                background: none;
            }
            &_8 {
                right: 338px;
                top: 97px;
                width: 11px;
                height: 11px;
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .text-about {
                animation: mfl-1 1s ease;
                animation-fill-mode: forwards;
            }
            .referral-scheme {
                animation: mfb-sf1 1s ease;
                animation-fill-mode: forwards;
            }
            .referral-logo {
                animation: md-1 1s ease;
                animation-delay: .8s;
                animation-fill-mode: forwards;
            }
            .referral-back {
                &__b1 {
                    animation:mfr-sf1 1s ease;
                    /*animation-delay: .8s;*/
                    animation-fill-mode: forwards;
                }
            }
            .item-dots {
                .item-dot {
                    &_1 {
                        animation: md-1 .3s ease;
                        animation-delay: 1.7s;
                        animation-fill-mode: forwards;
                    }
                    &_2 {
                        animation: md-1 .3s ease;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;
                    }
                    &_3 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.3s;
                        animation-fill-mode: forwards;
                    }
                    &_4 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.6s;
                        animation-fill-mode: forwards;
                    }
                    &_5 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.9s;
                        animation-fill-mode: forwards;
                    }
                    &_6 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.2s;
                        animation-fill-mode: forwards;
                    }
                    &_7 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.5s;
                        animation-fill-mode: forwards;
                    }
                    &_8 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.8s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}