@import "../_sprites/_main-menu";
.section-roadmap {
    background:#131A2B;
    color:#FFF;
    position:relative;
    &:after {
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        background:url(../img/scr-6/pl.png) left bottom no-repeat, url(../img/scr-6/pr.png) right top no-repeat;
        opacity:0;
    }
    &:before {
        content:"";
        position: absolute;
        width: 1717px;
        height: 728px;
        left: -140px;
        top: -348px;
        opacity:0;
        background: radial-gradient(50% 50% at 50% 50%, #053B91 0%, rgba(12, 55, 124, 0) 100%);
    }
    
    header {
        opacity: 0;
    }
    
    .text-about {
        font-size:12px;
        line-height:1.4;
        margin-bottom: 12px;
        p {
            margin:0 0 12px;
        }
    }
    .roadmap-wrapper {
        @include view-xs {
            position:relative;
        }
    }
    
    .roadmap-back {
        margin: 0 -28px;
        @include view-lg {
            position:absolute;
            bottom:4.2vh;
            right:0;
            top:0;
            z-index:2;
            margin:0;
        }
        &__b1 {
            height:688px;
            background:url(../img/scr-6/m/roadmap-back-1.png) center center no-repeat;
            @include view-lg {
                position:absolute;
                width:766px;
                height:632px;
                bottom:93px;
                right:0;
                transform: translateX(100vw);
                background:url(../img/scr-6/roadmap-back-1.png) no-repeat;
            }
        }
        &__b2 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                width:106px;
                height:108px;
                bottom: 526px;
                right: 592px;
                transform: translateX(100vw);
                background:url(../img/scr-6/roadmap-back-2.png) no-repeat;
            }
        }
        &__b3 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                width:182px;
                height:186px;
                bottom:0;
                right:427px;
                transform: translateX(100vh);
                background:url(../img/scr-6/roadmap-back-3.png) no-repeat;
            }
        }
    }
    .roadmap-content {
        position:absolute;
        z-index:3;
        width:258px;
        height:610px;
        top:0;
        left:calc(50% - 129px);
        @include view-lg {
            top:auto;
            left:auto;
            width:467px;
            height:579px;
            position:absolute;
            right: 164px;
            bottom: 126px;
            opacity:0;
        }
        .roadmap-logo {
            display:none;
            @include view-lg {
                display:block;
                position: absolute;
                width: 98px;
                height: 97px;
                right: 64px;
                top: -47px;
                background: url(../img/scr-6/logo.png) center center no-repeat;
                opacity:0;
                z-index:-1;
                border-radius:100%;
                box-shadow: 0 0 26px rgba(110, 232, 252, 0.44);
            }
        }
        .roadmap-path {
            position:absolute;
            background:url(../img/scr-6/m/roadmap.png) no-repeat;
            top:0;
            right:0;
            bottom:0;
            left:0;
            @include view-lg {
                background:url(../img/scr-6/roadmap.png) no-repeat;
            }
        }
        .roadmap-data {
            > li {
                position:absolute;
                @include view-lg {
                    opacity: 0;
                }
            }
            &__point1 {
                top:calc(100% - 30px);
                left:47px;
                @include view-lg {
                    top:auto;
                    bottom: -5px;
                    left: 101px;
                }
                .roadmap-point {
                    padding:35px 0 0 0;
                    @include view-lg {
                        padding:0 0 0 35px;
                    }
                }
                .roadmap-point__content {
                    left:-83px;
                    @include view-lg {
                        left: -6px;
                    }
                    bottom:calc(100% + 4px);
                }
            }
            &__point2 {
                top: 458px;
                right: 8px;
                @include view-lg {
                    top:auto;
                    bottom: 139px;
                    right: 446px;
                }
                .roadmap-point__content {
                    right: -44px;
                    bottom:calc(100% + 4px);
                    @include view-lg {
                        right: -6px;
                    }
                    &:after {
                        left:auto;
                        right:52px;
                        @include view-lg {
                            right: 10px;
                        }
                    }
                }
                .roadmap-point {
                    padding-left:0;
                    padding-right:35px;
                }
            }
            &__point3 {
                top:185px;
                left:0;
                @include view-lg{
                    left:auto;
                    top:auto;
                    bottom: 401px;
                    right: 295px;
                }
                .roadmap-point__content {
                    left:-37px;
                    top:80px;
                    @include view-lg{
                        left:auto;
                        right: -1px;
                        bottom:calc(100% + 4px);
                        top:auto;
                    }
                    &:after {
                        @include view-xs{
                            left:39px;
                            right:auto;
                            bottom:calc(100% - 6px);
                            transform:rotate(135deg);
                        }
                        left:auto;
                        right:10px;
                    }
                }
                .roadmap-point {
                    padding:0 0 30px;
                    @include view-lg {
                        padding:0 35px 0 0;
                    }
                }
            }
            &__point4 {
                right:-37px;
                top:141px;
                @include view-lg{
                    bottom: 467px;
                    left: 444px;
                }
                .roadmap-point__content {
                    right: 4px;
                    top: 70px;
                    @Include view-lg {
                        right: calc(100% - 32px);
                        top:calc(100% + 4px);
                    }
                    &:after {
                        @include view-xs{
                            right:39px;
                            bottom:calc(100% - 6px);
                            transform:rotate(135deg);
                        }
                        left:auto;
                        right:10px;
                        bottom:auto;
                        top:-7px;
                        transform: rotate(135deg);
                    }
                }
                .roadmap-point {
                    padding:0 0 30px;
                    @include view-lg {
                        padding:0 35px 0 0;
                    }
                }
            }
        }
    }
    .roadmap-point {
        font-size:14px;
        line-height:17px;
        padding-left:35px;
        position:relative;
        &:hover {
            .roadmap-point__content {
                width:330px;
                height:auto;
                overflow:visible;
                opacity:1;
            }
        }
        &__year {
            font-weight:600;
            margin-bottom: -1px;
        }
        &__status {
            text-transform:uppercase;
            font-size:12px;
            line-height:15px;
        }
        &__content {
            width:0;
            height:0;
            overflow:hidden;
            position:absolute;
            background:rgba(255, 255, 255, 0.85);
            border-radius:5px;
            border:1px solid #FFF;
            padding: 13px 10px;
            font-size:12px;
            line-height:15px;
            opacity:0;
            transition:opacity .3s;
            color:#0C0F38;
            &:after {
                content: "";
                position: absolute;
                width: 13px;
                height: 13px;
                border-radius: 0 0 0 5px;
                transform: rotate(-45deg);
                border: 7px solid #FFF;
                border-top-color: transparent;
                border-right-color: transparent;
                bottom: -7px;
                left:84px;
                @include view-lg {
                    left: 10px;
                }
            }
            ul {
                list-style:none;
                > li {
                    padding: 0 0 0 21px;
                    position:relative;
                    &:before {
                        content:"";
                        position:absolute;
                        left:8px;
                        top:4px;
                        display:block;
                        width:5px;
                        height:5px;
                        background:#0C0F38;
                        border-radius:100%;
                    }
                    + li {
                        margin-top:1px;
                    }
                }
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .text-about {
                animation: mfl-1 1s ease;
                animation-fill-mode: forwards;
            }
            .roadmap-back{
                &__b1 {
                    animation:mfr-sf1 1s ease;
                    /*animation-delay: .8s;*/
                    animation-fill-mode: forwards;
                }
                &__b2 {
                    animation:mft-sf1 1s ease;
                    animation-delay: .4s;
                    animation-fill-mode: forwards;
                }
                &__b3 {
                    animation:mfb-sf1 1s ease;
                    animation-delay: .2s;
                    animation-fill-mode: forwards;
                }
            }
            .roadmap-content {
                animation:md-1 1.5s ease;
                animation-delay: 1.5s;
                animation-fill-mode: forwards;
                .roadmap-logo {
                    animation:md-1 .8s ease;
                    animation-delay: 3.8s;
                    animation-fill-mode: forwards;
                }
            }
            .roadmap-data {
                &__point1 {
                    animation:md-1 .5s ease;
                    animation-delay: 2s;
                    animation-fill-mode: forwards;
                }
                &__point2 {
                    animation:md-1 .5s ease;
                    animation-delay: 2.3s;
                    animation-fill-mode: forwards;
                }
                &__point3 {
                    animation:md-1 .5s ease;
                    animation-delay: 2.8s;
                    animation-fill-mode: forwards;
                }
                &__point4 {
                    animation:md-1 .5s ease;
                    animation-delay: 3.3s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
   
}