@import "../_sprites/_main-menu";
.section-security {
    background:#B9B9B9;
    position:relative;
    &:after {
        @include view-lg {
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:100%;
            background:url(../img/scr-3/pl.png) left bottom no-repeat, url(../img/scr-3/pr.png) right top no-repeat;
            opacity:0;
        }
    }
    &:before {
        @include view-lg {
            content:"";
            position: absolute;
            width: 1717px;
            height: 728px;
            left: -140px;
            top: -348px;
            opacity:0;
            background: radial-gradient(50% 50% at 50% 50%, #E4E4E4 0%, rgba(12, 55, 124, 0) 100%);
        }
    }
    
    header {
        opacity: 0;
    }
    
    .security-item {
        @include view-lg {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            z-index:2;
        }
        &__main {
            background:url(../img/scr-3/m/main.png) center center no-repeat;
            height:353px;
            width:100%;
            margin:70px 0 0;
            @include view-lg {
                position:absolute;
                top:50%;
                right:16.3vw;
                width:377px;
                height:509px;
                background:url(../img/scr-3/main.png) center center no-repeat;
                transform:translateY(-55%) translateX(100vw);
            }
        }
        &__f1 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                bottom:0;
                right:462px;
                transform: translateX(100vw);
                width:310px;
                height:117px;
                background:url(../img/scr-3/f1.png) no-repeat;
            }
        }
        &__f2 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                bottom:0;
                right:0;
                transform: translateX(100vw);
                width:477px;
                height:679px;
                background:url(../img/scr-3/f2.png) no-repeat;
            }
        }
        &__f3 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                bottom: 17.4vh;
                right: 48.9vw;
                transform: translateX(100vw);
                width:106px;
                height:108px;
                background:url(../img/scr-3/f3.png) no-repeat;
            }
        }
        &__f4 {
            display:none;
            @include view-lg {
                display:block;
                position:absolute;
                bottom: 34.8vh;
                right: 36.8vw;
                transform: translateX(100vw);
                width:174px;
                height:178px;
                background:url(../img/scr-3/f4.png) no-repeat;
            }
        }
    }
    
    .item-dots {
        position:absolute;
        right:0;
        bottom:0;
        top:0;
        z-index:4;
        .item-dot {
            position:absolute;
            background:#FFF;
            border-radius:100%;
            width:19px;
            height:19px;
            opacity:0;
            &_1 {
                right: 119px;
                top: 351px;
            }
            &_2 {
                right: 724px;
                bottom: 172px;
                width: 14px;
                height: 14px;
            }
            &_3 {
                right: 530px;
                bottom: 144px;
                width: 19px;
                height: 19px;
                background: none;
                border: 1px solid #FFF;
            }
            &_4 {
                right: 712px;
                bottom: 461px;
            }
            &_5 {
                right: 500px;
                top: 45px;
                width: 11px;
                height: 11px;
            }
            &_6 {
                right: 761px;
                bottom: 70px;
                width: 11px;
                height: 11px;
            }
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .text-about {
                animation: mfl-1 1s ease;
                animation-fill-mode: forwards;
            }
            .security-item__main {
                animation:mfr-sfm .7s ease;
                animation-delay: .5s;
                animation-fill-mode: forwards;
            }
            .security-item__f1 {
                animation:mfr-sf1 1s ease;
                animation-delay: .3s;
                animation-fill-mode: forwards;
            }
            .security-item__f2 {
                animation:mfr-sf1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .security-item__f3 {
                animation:mfr-sf1 1s ease;
                animation-delay: .5s;
                animation-fill-mode: forwards;
            }
            .security-item__f4 {
                animation:mfr-sf1 1.2s ease;
                animation-delay: .3s;
                animation-fill-mode: forwards;
            }
            .item-dots {
                .item-dot {
                    &_1 {
                        animation: md-1 .3s ease;
                        animation-delay: 1.7s;
                        animation-fill-mode: forwards;
                    }
                    &_2 {
                        animation: md-1 .3s ease;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;
                    }
                    &_3 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.3s;
                        animation-fill-mode: forwards;
                    }
                    &_4 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.6s;
                        animation-fill-mode: forwards;
                    }
                    &_5 {
                        animation: md-1 .3s ease;
                        animation-delay: 2.9s;
                        animation-fill-mode: forwards;
                    }
                    &_6 {
                        animation: md-1 .3s ease;
                        animation-delay: 3.2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }  
    }  
}