@import "../_sprites/_ico";
.soc-icons {
    display:flex;
    align-items:center;
    > * {
        + * {
            margin-left:16px;
        }
        a {
            display:block;
            border-radius:100%;
            color:#FFF;
            text-decoration:none;
            font-size:12px;
            .light & {
                color:#0C0F38;
            }
        }
    }
    .mobile-menu & {
        flex-wrap:wrap;
        max-width:145px;
        > * {
            margin:0 25px 25px 0;
            + * {
                margin-left:0;
            }
        }
    }
    .soc-icon {
        &_dc a {
            @include sprite($dc);
            .light & {
                @include sprite($ddc);
            }
        }
        &_yt a {
            @include sprite($yt);
            .light & {
                @include sprite($dyt);
            }
        }
        &_tg a {
            @include sprite($tg);
            .light & {
                @include sprite($dtg);
            }
        }
        &_fb a {
            @include sprite($fb);
            .light & {
                @include sprite($dfb);
            }
        }
        &_tw a {
            @include sprite($tw);
            .light & {
                @include sprite($dtw);
            }
        }
        &_d1 a {
            @include sprite($d1);
            .light & {
                @include sprite($dd1);
            }
        }
        &_d2 a {
            @include sprite($d2);
            .light & {
                @include sprite($dd2);
            }
        }
        &_guide a {
            border-radius:0;
            height:$d1-height;
            display:flex;
            align-items:center;
            &:before {
                content:"";
                display:inline-block;
                margin-right:6px;
                @include sprite($guide);
                .light & {
                    @include sprite($dguide);
                }
            }
        }
    }
}
