.section-testimonials {
    background:#B9B9B9;
    position:relative;
    &:after {
        @include view-lg {
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:100%;
            background:url(../img/scr-4/pl.png) left bottom no-repeat, url(../img/scr-4/pr.png) right top no-repeat;
            opacity:0;
        }
    }
    &:before {
        @include view-lg {
            content:"";
            position: absolute;
            width: 1717px;
            height: 728px;
            left: -140px;
            top: -348px;
            opacity:0;
            background: radial-gradient(50% 50% at 50% 50%, #E4E4E4 0%, rgba(12, 55, 124, 0) 100%);
        }
    }
    header {
        opacity: 0;
    }
    
    .testimonials-wrapper {
        width:75%;
        margin:auto;
        @include view-lg {
            width:auto;
            margin:8vh 0;
            opacity:0.01;
        }
        h2 {
            font-size:24px;
            line-height:1.2;
            font-weight:300;
            margin:0 0 40px
        }
        .downloads {
            display:none;
            @include view-lg {
                margin:30px 0 0 0;
                display:flex;
            }
        }
    }
    .testimonials-slider {
        .tns-item {
            padding:0 17px;
        }
    }
    .testimonial {
        font-size:12px;
        line-height:14px;
        background:#FFF;
        border-radius:5px;
        padding:20px 15px;
        &__ava {
            text-align:center;
            margin:0 0 13px;
        }
        &__name {
            text-align:center;
            font-weight:600;
            margin:0 0 13px;
            text-transform: uppercase;
        }
        &__cut {
            margin:0 0 13px;
            height:82px;
            overflow:hidden;
            position:relative;
            &:after {
                content:"";
                position:absolute;
                bottom:0;
                left:0;
                right:0;
                height:12px;
                background: linear-gradient(to bottom, transparent 0%,#ffffff 100%);
            }
        }
        &__more {
            text-align:center;
        }
    }
    
    .testimonials-back {
        display:none;
        @include view-lg {
            position:absolute;
            bottom:0;
            right:0;
            top:0;
        }
        &__b1 {
            position:absolute;
            width:653px;
            height:311px;
            bottom:0;
            right:0;
            transform: translateX(100vw);
            background:url(../img/scr-4/b1.png) no-repeat;
        }
        &__b2 {
            position:absolute;
            width:174px;
            height:172px;
            bottom: 59vh;
            right: 22px;
            transform: translateY(100vw);
            background:url(../img/scr-4/b2.png) no-repeat;
        }
        &__b3 {
            position:absolute;
            width:93px;
            height:95px;
            bottom: 28.2vh;
            right: 68.2vw;
            transform: translateY(-100vw);
            background:url(../img/scr-4/b3.png) no-repeat;
        }
        &__b1 {
            position:absolute;
            width:653px;
            height:311px;
            bottom:0;
            right:0;
            transform: translateX(100vw);
            background:url(../img/scr-4/b1.png) no-repeat;
        }
    }
    
    &.ready {
        @include view-lg {
            &:before, &:after, header {
                animation:md-1 1s ease;
                /*animation-delay: 3s;*/
                animation-fill-mode: forwards;
            }
            .testimonials-wrapper {
                animation:md-1 1s ease;
                animation-delay: .8s;
                animation-fill-mode: forwards;
            }
            .testimonials-back{
                &__b1 {
                    animation:mfr-sf1 1s ease;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                }
                &__b2 {
                    animation:mfb-sf1 1s ease;
                    animation-delay: 2s;
                    animation-fill-mode: forwards;
                }
                &__b3 {
                    animation:mft-sf1 1s ease;
                    animation-delay: 2s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}