<!DOCTYPE html>
<html>
    <head>
        <title>OneExBit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <style>
            #loader {
                position:fixed;
                top:0;
                right:0;
                bottom:0;
                left:0;
                z-index:100;
                background:#131A2B url(/img/loader.gif) center center no-repeat;
            }
        </style>
        <link rel="icon" type="image/png" href="/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body>
        <div id="loader"></div>
        <div class="mobile-header">
            <%= require('html-loader!./html/_logo.html') %>
            <button class="menu-open js-menu-toggle"></button>
            <nav class="mobile-menu">
                <button class="menu-hide js-menu-toggle"></button>
                <ul class="mobile-nav">
                    <li><a href="#section-about">About the terminal</a></li>
                    <li><a href="#section-security">Security</a></li>
                    <li><a href="#section-testimonials">Testimonials</a></li>
                    <li><a href="#section-pricing">Pricing</a></li>
                    <li><a href="#section-roadmap">Road Map</a></li>
                    <li><a href="#section-referral">Referral system</a></li>
                </ul>
                <div class="light">
                    <%= require('html-loader!./html/_soc-icons.html') %>
                </div>
            </nav>
        </div>
        <div class="fullpage">
            <div class="fullpage__inner js-fullpage">
                <div class="fullpage__section section-main" data-fullpage-id="section-main">
                    <a class="anchor" name="section-main"></a>
                    <div class="container">
                        <header>
                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="download-ios"></a></li>
                                    <li><a href="#" class="download-win"></a></li>
                                </ul>

                                Download
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        
                        <section class="main-text">
                            <div class="main-logo-wrapper"><%= require('html-loader!./html/_logo.html') %></div>
                            <h1>ONEX</h1>
                            <h2>A UNIFIED ECOSYSTEM<br />FOR THE WORLD OF CRYPTO</h2>
                            <ul class="specs">
                                <li>A trading terminal with multiple exchanges</li>
                                <li>AI-enhanced tools for traders</li>
                                <li>Price forecasts generated by a neural network</li>
                                <li>Margin trading</li>
                                <li>Mirror trading</li>
                                <li>Cryptocurrency exchanger</li>
                                <li>Digital asset management</li>
                                <li>Decentralized exchange</li>
                            </ul>

                        </section>

                        <div class="main-item" id="main-item">
                            
                            <video width="924" height="730" class="main-item-video" muted="muted" loop></video>
                            
                            <ul class="item-dots">
                                <li class="item-dot item-dot_1"></li>
                                <li class="item-dot item-dot_2"></li>
                                <li class="item-dot item-dot_3"></li>
                                <li class="item-dot item-dot_4"></li>
                                <li class="item-dot item-dot_5"></li>
                                <li class="item-dot item-dot_6"></li>
                                <li class="item-dot item-dot_7"></li>
                                <li class="item-dot item-dot_8"></li>
                            </ul>

                            <div class="main-logo"></div>
                            <div class="main-menu-wrapper">
                                <nav class="main-item__content main-menu">
                                    <a href="#section-about" data-fullpage-anchor="section-about" class="main-menu__item main-menu-item main-menu-item_about">About terminal</a>
                                    <a href="#section-referral" data-fullpage-anchor="section-referral" class="main-menu__item main-menu-item main-menu-item_referral">Referral system</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_exchange">Exchange</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_network">Neural&nbsp;network<br>rate forecast</a>
                                    <a href="#section-testimonials" data-fullpage-anchor="section-testimonials" class="main-menu__item main-menu-item main-menu-item_testimonials">Testimonials</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_mirror">Mirror trade</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_margin-trading">Margin trading</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_arbitration">Arbitration Bot</a>
                                    <a href="#section-developed" data-fullpage-anchor="section-developed" class="main-menu__item main-menu-item main-menu-item_exchanger">Exchanger</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullpage__section section-about" data-fullpage-id="section-about">
                    <a class="anchor" name="section-about"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <section class="text-about">
                            <h2>About the terminal</h2>
                            <h4>Combine profits and security with OneExBit terminal</h4>
                            <ul class="specs">
                                <li>
                                    <p><strong>All your exchanges in one place</strong></p>
                                    Trade on all major crypto exchanges from the same terminal. No need to waste your precious time on endless authorizations.
                                </li>
                                <li>
                                    <p><strong>Instant switching</strong></p>
                                    Switch between your exchange accounts in less than a second. You can have an unlimited number of accounts.
                                </li>
                                <li>
                                    <p><strong>Intuitively simple</strong></p>
                                    OneExBit terminal is equally easy to use for newbies and pros.
                                </li>
                                <li>
                                    <p><strong>Always online</strong></p>
                                    You don't have to login again and again or keep your browser window open. OneExBit runs in the background, so that you can start trading whenever you like.
                                </li>
                                <li>
                                    <p><strong>Secure</strong></p>
                                    All API keys are stored LOCALLY on your computer.
                                </li>
                                <li>
                                    <p><strong>AI-enabled</strong></p>
                                    We use neural networks to automate your trading
                                </li>
                            </ul>
                            <div class="btn-wrapper">
                                <a href="#" class="btn">Details</a>
                            </div>
                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="download-ios"></a></li>
                                    <li><a href="#" class="download-win"></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="about-item">
                        <div class="about-item__back"></div>
                        <div class="about-item__content"></div>
                        <div class="about-item__front"></div>
                        <div class="about-item__front2">
                            <div class="about-counter">
                                <div class="about-counter__counter">40+</div>
                                <div class="about-counter__desc">The total number  of exchanges on OneExBit is expected by the end  of 2019.</div>
                            </div>
                        </div>
                    </div>
                    <ul class="item-dots">
                        <li class="item-dot item-dot_1"></li>
                        <li class="item-dot item-dot_2"></li>
                        <li class="item-dot item-dot_3"></li>
                        <li class="item-dot item-dot_4"></li>
                        <li class="item-dot item-dot_5"></li>
                    </ul>
                </div>
                <div class="fullpage__section section-security light" data-fullpage-id="section-security">
                    <a class="anchor" name="section-security"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <section class="text-about">
                            <h2>Security</h2>
                            <div class="text-about__text">
                                <p>OneExBit is a non-custodial trading solution: we don't store either your crypto or your keys. This way, you are always in full control of your funds. And even if someone gains access to your device and trading terminal, they won't be able to withdraw your crypto.</p>
                                <p><strong>Local key storage</strong></p>
                                <p>Your private keys are stored only on your device.  Even if OneExBit servers are hacked, your funds will be safe.</p>
                                <p><strong>Advanced cryptography</strong></p>
                                <p>We use only 2048-bit SSL certificate-encrypted channels  to transfer data to and from exchanges</p>
                                <p><strong>Privacy</strong></p>
                                <p>We respect your right to full anonymity: you only need  to provide your email address for registration.</p>
                            </div>
                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="download-ios"></a></li>
                                    <li><a href="#" class="download-win"></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="security-item">
                        <div class="security-item__f4"></div>
                        <div class="security-item__f3"></div>
                        <div class="security-item__main"></div>
                        <div class="security-item__f2"></div>
                        <div class="security-item__f1"></div>
                    </div>
                    <ul class="item-dots">
                        <li class="item-dot item-dot_1"></li>
                        <li class="item-dot item-dot_2"></li>
                        <li class="item-dot item-dot_3"></li>
                        <li class="item-dot item-dot_4"></li>
                        <li class="item-dot item-dot_5"></li>
                        <li class="item-dot item-dot_6"></li>
                    </ul>
                </div>
                <div class="fullpage__section section-testimonials light" data-fullpage-id="section-testimonials">
                    <a class="anchor" name="section-testimonials"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <section class="testimonials-wrapper">
                            <h2>Testimonials</h2>
                            <div class="testimonials-slider">
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Joey</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Chandler</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Monica</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Ross</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Rachel</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Phebe</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="testimonial">
                                        <div class="testimonial__ava">
                                            <img src="/dataimg/testimonials-ava.jpg">
                                        </div>
                                        <div class="testimonial__name">Fernando</div>
                                        <div class="testimonial__cut">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum...</div>
                                        <div class="testimonial__more"><button class="btn btn_dark">More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="download-ios"></a></li>
                                    <li><a href="#" class="download-win"></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="testimonials-back">
                        <div class="testimonials-back__b1"></div>
                        <div class="testimonials-back__b2"></div>
                        <div class="testimonials-back__b3"></div>
                        <div class="testimonials-back__b4"></div>
                    </div>
                </div>
                <div class="fullpage__section section-pricing" data-fullpage-id="section-pricing">
                    <a class="anchor" name="section-pricing"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <section class="pricing-wrapper">
                            <h2>PRICING</h2>
                            <div class="pricing-slider">
                                <div>
                                    <div class="pricing">
                                        <div class="pricing__cost">Free</div>
                                        <ul class="pricing__params">
                                            <li>Trading terminal</li>
                                            <li>Unlimited exchange accounts</li>
                                            <li>All integrated exchanges</li>
                                            <li>Referral program</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="pricing">
                                        <div class="pricing__cost">$18/mo</div>
                                        <ul class="pricing__params">
                                            <li>Trading terminal</li>
                                            <li>Unlimited exchange accounts</li>
                                            <li>All integrated exchanges</li>
                                            <li>Referral program</li>
                                            <li>Arbitrage bot</li>
                                            <li>Margin trading</li>
                                            <li>24/7 tech support</li>
                                        </ul>
                                        <div class="pricing__buy"><button class="btn">Buy</button></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="pricing">
                                        <div class="pricing__cost">$36/mo</div>
                                        <ul class="pricing__params">
                                            <li>Trading terminal</li>
                                            <li>Unlimited exchange accounts</li>
                                            <li>All integrated exchanges</li>
                                            <li>Referral program</li>
                                            <li>Arbitrage bot</li>
                                            <li>Margin trading</li>
                                            <li>24/7 tech support</li>
                                            <li>ONEX.AI automated exchange rate predictions</li>
                                            <li>Automated tech analysis and price forecasts</li>
                                        </ul>
                                        <div class="pricing__buy"><button class="btn">Buy</button></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="pricing">
                                        <div class="pricing__cost">$72/mo</div>
                                        <ul class="pricing__params">
                                            <li>Trading terminal</li>
                                            <li>Unlimited exchange accounts</li>
                                            <li>All integrated exchanges</li>
                                            <li>Referral program</li>
                                            <li>Arbitrage bot</li>
                                            <li>Margin trading</li>
                                            <li>24/7 tech support</li>
                                            <li>ONEX.AI automated exchange rate predictions</li>
                                            <li>Automated price predictions based on tech analysis</li>
                                            <li>Neural trading network</li>
                                            <li>Automated mirror trading</li>
                                            <li>Portfolio management</li>
                                            <li>VIP support and customized features</li>
                                        </ul>
                                        <div class="pricing__buy"><button class="btn">Development</button></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="pricing">
                                        <div class="pricing__cost">VIP<br />$540<br /><small>one-time<br />payment</small></div>
                                        <ul class="pricing__params">
                                            <li>Trading terminal</li>
                                            <li>Unlimited exchange accounts</li>
                                            <li>All integrated exchanges</li>
                                            <li>Referral program</li>
                                            <li>Arbitrage bot</li>
                                            <li>Margin trading</li>
                                            <li>24/7 tech support</li>
                                            <li>ONEX.AI automated exchange rate predictions</li>
                                            <li>Automated price predictions based on tech analysis</li>
                                            <li>Neural trading network</li>
                                            <li>Automated mirror trading</li>
                                            <li>Portfolio management</li>
                                            <li>VIP support and customized features</li>
                                        </ul>
                                        <div class="pricing__buy"><button class="btn">Development</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="btn-download-ios">Download</a></li>
                                    <li><a href="#" class="btn-download-win">Download</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="pricing-back">
                        <div class="pricing-back__b1"></div>
                        <div class="pricing-back__b2"></div>
                        <div class="pricing-back__b3"></div>
                        <div class="pricing-back__b4"></div>
                        <div class="pricing-back__b5"></div>
                    </div>
                    <ul class="item-dots">
                        <li class="item-dot item-dot_1"></li>
                        <li class="item-dot item-dot_2"></li>
                        <li class="item-dot item-dot_3"></li>
                        <li class="item-dot item-dot_4"></li>
                        <li class="item-dot item-dot_5"></li>
                        <li class="item-dot item-dot_6"></li>
                        <li class="item-dot item-dot_7"></li>
                        <li class="item-dot item-dot_8"></li>
                    </ul>
                </div>
                <div class="fullpage__section section-roadmap" data-fullpage-id="section-roadmap">
                    <a class="anchor" name="section-roadmap"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <section class="text-about">
                            <h2>Road map</h2>
                            
                            <p>We've come a long way from a simple trading terminal  to an all-in-one crypto service ecosystem with 10 integrated exchange and arbitrage. More great features are coming  in 2020 – explore them here!</p>

                            <div class="download">
                                <ul class="downloads">
                                    <li><a href="#" class="download-ios"></a></li>
                                    <li><a href="#" class="download-win"></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="roadmap-wrapper">
                        <div class="roadmap-back">
                            <div class="roadmap-back__b2"></div>
                            <div class="roadmap-back__b1"></div>
                            <div class="roadmap-back__b3"></div>
                        </div>
                        <div class="roadmap-content">
                            <div class="roadmap-logo"></div>
                            <div class="roadmap-path"></div>
                            <ul class="roadmap-data">
                                <li class="roadmap-data__point1">
                                    <div class="roadmap-point">
                                        <div class="roadmap-point__year">2018</div>
                                        <div class="roadmap-point__status">completed</div>
                                        <div class="roadmap-point__content">
                                            <ul>
                                                <li>Ideation, market research, White Paper</li>
                                                <li>Develompent of an API core for interacting with exchanges</li>
                                                <li>Security protocol</li>
                                                <li>First exchange integration</li>
                                                <li>Launch of an alpha release for  Mac and Windows</li>
                                                <li>Expansion of the dev team</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="roadmap-data__point2">
                                    <div class="roadmap-point">
                                        <div class="roadmap-point__year">2019</div>
                                        <div class="roadmap-point__status">completed</div>
                                        <div class="roadmap-point__content">
                                            <ul>
                                                <li>Creation of a blockchain</li>
                                                <li>Exchange integrations: Binance, Bitfinex, Bitmex, Poloniex, OKex, HitBTC, EXMO</li>
                                                <li>Margin trading: interface and functionality</li>
                                                <li>Start of beta testing</li>
                                                <li>New design of the website and promo materials</li>
                                                <li>Launch of the blockchain network and nodes</li>
                                                <li>First 1000 terminal downloads</li>
                                                <li>Start of work on a machine learning algorithm and ONEX AI</li>
                                                <li>Launch and testing of an arbitrage bot</li>
                                                <li>Payment gateway (accepting payments in BTC and ONEX)</li>
                                                <li>Local marketing campaign, marketing tests and strategy development</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="roadmap-data__point3">
                                    <div class="roadmap-point">
                                        <div class="roadmap-point__year">2020</div>
                                        <div class="roadmap-point__status">completed</div>
                                        <div class="roadmap-point__content">
                                            <ul>
                                                <li>Rebranding and launch of a new website</li>
                                                <li>Enabling proxy and VPN</li>
                                                <li>Launch of a referral program</li>
                                                <li>Web registrations and user dashboard</li>
                                                <li>Hiring more developers</li>
                                                <li>New exchange integrations and arbitrage bots</li>
                                                <li>Technical analysis bots</li>
                                                <li>Launch of the neural network ONEX AI</li>
                                                <li>News aggregator and 24/7 tech support</li>
                                                <li>Mirroring trades across one's accounts</li>
                                                <li>Trading stats</li>
                                                <li>Crowdfunding</li>
                                                <li>Global marketing campaign</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="roadmap-data__point4">
                                    <div class="roadmap-point">
                                        <div class="roadmap-point__year">2021</div>
                                        <div class="roadmap-point__status">upcoming</div>
                                        <div class="roadmap-point__content">
                                            <ul>
                                                <li>More exchange integrations</li>
                                                <li>Social trading and trader showcase</li>
                                                <li>Signal system based on the results of various traders and strategies</li>
                                                <li>PAMM accounts and asset management</li>
                                                <li>An improved verson of ONEX AI</li>
                                                <li>Crypto exchange service</li>
                                                <li>1 million users</li>
                                                <li>Own crypto exchange. </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fullpage__section section-referral light" data-fullpage-id="section-referral">
                    <a class="anchor" name="section-referral"></a>
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <div class="referral-content">
                            <section class="text-about">
                                <h2>Referral system</h2>
                                <p>Did you know that OneExBit has an amazing referral system? What makes it so special is that it has 3 levels. That's right: three referral levels with real rewards! Let's see how it works  in practice.</p>
                                <p>Imagine that you send your unique referral link to your friend Jack. He tries out our trading terminal and decides  to subscribe to a premium plan to use our copy-trading tool. Jack is paying $20 per month. Since Jack joined with your own referral link, he's in Level 1 of your referral downline.  You reward is 30% of what he paid, or $6. </p>
                                <p>Next, Jack in turn attracts some of his own friends to the platform. In particular, Jack's friend Alice joins with Jack's link – and also buys a $20 subscription. Jack himself gets his $20, but you've earned a reward, too! You'll get 20% of Jack's referral reward, or $1.2.</p>
                                <p>Finally, Alice attracts some new users, too. In this case,  you'll get 10% of what Alice received.</p>
                                <div class="download">
                                    <ul class="downloads">
                                        <li><a href="#" class="download-ios"></a></li>
                                        <li><a href="#" class="download-win"></a></li>
                                    </ul>
                                </div>
                            </section>
                            <div class="referral-scheme"></div>
                            <div class="referral-logo"></div>
                        </div>
                    </div>
                    <div class="referral-back">
                        <div class="referral-back__b1"></div>
                    </div>
                    <ul class="item-dots">
                        <li class="item-dot item-dot_1"></li>
                        <li class="item-dot item-dot_2"></li>
                        <li class="item-dot item-dot_3"></li>
                        <li class="item-dot item-dot_4"></li>
                        <li class="item-dot item-dot_5"></li>
                        <li class="item-dot item-dot_6"></li>
                        <li class="item-dot item-dot_7"></li>
                        <li class="item-dot item-dot_8"></li>
                    </ul>
                </div>
                <div class="fullpage__section section-developed" data-fullpage-id="section-developed">
                    <div class="container">
                        <header>
                            <div class="site-logo-wrapper">
                                <div class="logo"></div>
                            </div>
                            <%= require('html-loader!./html/_soc-icons.html') %>
                        </header>
                        <div class="developed">
                            <div class="developed__text">This function<br />is being developed</div>
                            <div class="developed__back"><a href="javascript:history.go(-1)">Back</a></div>
                            <div>
                                <div class="download">
                                    <ul class="downloads">
                                        <li><a href="#" class="btn-download-ios">Download</a></li>
                                        <li><a href="#" class="btn-download-win">Download</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="developed-back">
                        <div class="developed-back__b1"></div>
                    </div>
                    <ul class="item-dots">
                        <li class="item-dot item-dot_1"></li>
                        <li class="item-dot item-dot_2"></li>
                        <li class="item-dot item-dot_3"></li>
                        <li class="item-dot item-dot_4"></li>
                        <li class="item-dot item-dot_5"></li>
                        <li class="item-dot item-dot_6"></li>
                    </ul>
                </div>
            </div>

            <div class="fullpage__nav js-fullpage-nav"></div>

            <div class="fullpage__btns">

                <button class="js-prev">prev</button>
                <button class="js-next">more</button>
            </div>
        </div>
    </body>
</html>
