@import "_variables";
@import "_mixins";
@import "../../node_modules/reset-css/sass/reset";

@import "../../node_modules/fullpage-pagination/fullpage-js.css";
@import "../../node_modules/tiny-slider/src/tiny-slider";

* {
    &, &:before, &:after {
        box-sizing:border-box;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    line-height:1.2;
    min-width:375px;
}

@import "_partials/_animations";
@import "_partials/_soc-icons";
@import "_partials/_misc";

header {
    display:flex;
    justify-content: space-between;
    padding: 3px 30px 0 0;
}

.mobile-header {
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index:10;
    padding: 40px 28px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(#131A2B, .8);
    @include view-lg {
        display:none;
    }
}

.fullpage {
    overflow: visible;
    height:auto;
    .fullpage__btns {
        display:none;
        @include view-lg {
            display:block;
        }
    }
    &.narrow .fullpage__section {
        min-height:865px;
        height: auto !important;
    }
    &.created {
        overflow:hidden;
        height:100vh;
        .fullpage__btns {
            z-index:50;
            position:fixed;
            left:50%;
            bottom: 81px;
            margin-left: -627px;
            .fullpage__prev {
                display:none;
            }
            .fullpage__next {
                display:flex;
                border:none;
                background:none;
                color: #FFF;
                padding:0 0 10px;
                margin:0;
                align-items:center;
                outline:none;
                &:before {
                    content:"";
                    display:block;
                    width:19px;
                    height:36px;
                    margin:0 8px -10px 0;
                    background:url(../img/more.png);
                }
            }
            .fullpage__prev--disabled,
            .fullpage__next--disabled {
                display:none;
            }
        }
    }
    .fullpage__section {
        height:auto;
        position:relative;
        overflow:hidden;
        padding:104px 0 10vh;
        @include view-lg {
            height:100vh;
            padding: 9vh 5vw;
            overflow:hidden;
        }
        &.light {
            color:#0C0F38;
        }
        header {
            display:none;
            @include view-lg {
                display:flex;
            }
        }
    }
    @import "_partials/_main";
    @import "_partials/_about";
    @import "_partials/_security";
    @import "_partials/_testimonials";
    @import "_partials/_pricing";
    @import "_partials/_roadmap";
    @import "_partials/_referral";
    @import "_partials/_developed";
}
.anchor {
    @include view-xs {
        position:absolute;
        z-index:-5;
        top:-110px;
    }
}
.container {
    width:100%;
    min-height:100%;
    max-width:1300px;
    margin:auto;
    position:relative;
    z-index:2;
    padding:0 28px;
    .narrow & {
        min-height:720px;
    }
    @include view-lg {
        padding:0;
    }
    &:after {
        display:table;
        content:"";
        width:100%;
    }
}
.menu-open {
    display:block;
    padding:0;
    margin:0;
    width:27px;
    height:15px;
    position:relative;
    background:none;
    border:none;
    &:before {
        content:"";
        position:absolute;
        display:block;
        top:0;
        bottom:0;
        right:0;
        left:0;
        border:1px solid #FFF;
        border-left:none;
        border-right:none;
    }
    &:after {
        content:"";
        position:absolute;
        display:block;
        top:calc(50% - 0.5px);
        left:0;
        right:0;
        border-top:1px solid #FFF;
    }
}
.menu-hide {
    display:block;
    border:none;
    background:none;
    margin:29px 0 10px -10px;
    &:before {
        content:"";
        display:block;
        width:14px;
        height:14px;
        border:2px solid #0C0F38;
        border-top-color: transparent;
        border-left-color: transparent;
        transform:rotate(-45deg);
    }
}
.mobile-menu {
    display:block;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    min-width:200px;
    transform: translateX(100%);
    background:#a2a2a2;
    transition:transform .3s ease;
    padding:24px;
    &.active {
        transform: none;
    }
}
.mobile-nav {
    > li {
        margin:0;
        position:relative;
        + li {
            &:before {
                content:"";
                position:absolute;
                display:block;
                top:0;
                left:0;
                height:1px;
                width:99px;
                background:#0C0F38;
            }
        }
        a {
            display:block;
            padding: 25px 0;
            font-size:14px;
            line-height:1.2;
            color:#0C0F38;
            text-decoration:none;
        }
    }
}
